<div data-type="todos">
  <div class="container">
    <% todos.each do |todo| %>
      <div class="todo-box">
        <div class="todo-wrapper">
          <%= button_to "d", todo_path(todo), :class => "btn btn-outline-danger rounded-circle", method: :delete, data: { confirm: 'Sure?' } %>
          <%= image_tag("todos/#{todo.twitter_id}/#{todo.images[0].name}") %>
          <%#<%= button_to "d", todo_path(todo), :class => "btn btn-outline-danger rounded-circle", method: :delete, data: { confirm: 'Sure?' } %>
  <%# </a> %>
          <%#<%= render 'likes/like', todo: todo %>
        </div>
      </div>
    <% end %>
  </div>
</div>