<div data-type="todos">
  <div class="container">
    <% todos.each do |todo| %>
      <div class="todo-box">
        <div class="todo-wrapper">
          <button>icon</button>
          <%= image_tag("todos/#{todo.twitter_id}/#{todo.images[0].name}") %>
          <div class="row lower">
            <%= button_to "・・・", todo_path(todo), method: :delete, data: { confirm: 'Sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>